<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dados do Financiamento</h1>
  <a href="cliente-form" class="d-none d-sm-inline-block btn btn-primary btn-lg"><i
          class="fa-solid fa-user-plus"></i> Nova Parcela</a>



</div>

<div class="card shadow mb-4">
  <div class="card-body">
      <div class="mb-3 row">
          <label for="cliente" class="fw-bold col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="cliente" [value]="financiamento.cliente.nome">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="loteamento" class="fw-bold col-sm-2 col-form-label">Loteamento:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="loteamento" [value]="financiamento.lote.loteamento.nome">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="numLote" class="fw-bold col-sm-2 col-form-label">Lote:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="numLote" [value]="financiamento.lote.numero">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="totalPago" class="fw-bold col-sm-2 col-form-label">Total Pago:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="totalPago" [value]="financiamento.totalPago">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="qtdeParcelas" class="fw-bold col-sm-2 col-form-label">Total de Parcelas:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="qtdeParcelas" [value]="financiamento.qtdeParcelas">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="parcelasPagas" class="fw-bold col-sm-2 col-form-label">Pacelas Pagas:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="inputCpf" name="parcelasPagas" [value]="financiamento.parcelasPagas" inputmode="numeric" >
          </div>
        </div>

        <div class="mb-3 row">
          <label for="parcelasRestantes" class="fw-bold col-sm-2 col-form-label">Parcelas Restantes:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="parcelasRestantes" [value]="financiamento.parcelasRestantes">
          </div>
        </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
      <div>

          <table class="table table-striped">
              <thead>
                  <tr>

                      <th scope="col">Data do Pagamento</th>
                      <th scope="col">Valor Pago</th>
                      <th scope="col">Situação</th>
                      <th scope="col"> Ação </th>

                  </tr>
              </thead>
              <tbody>

                  <tr *ngFor="let parcela of parcelas$ | async; index as i">
                      <td>
                          <ngb-highlight [result]="parcela.dataPagamento | date:'dd/MM/yyyy'" [term]="filter.value" />
                      </td>
                      <td>
                          <ngb-highlight [result]="parcela.valor | currency" [term]="filter.value" />
                      </td>

                      <td>
                          <ngb-highlight [result]="parcela.status" [term]="filter.value" />
                      </td>

                      <td>
                          <button type="button" class="btn btn-primary" [routerLink]="['/parcela-form']" > <i class="fa-solid fa-pen"></i> Editar</button>
                          <button type="button" class="btn btn-danger" [routerLink]="['/parcela-form']" > <i class="fa-solid fa-trash"></i> Remover</button>
                      </td>
                  </tr>

                  <tr *ngIf="list.length == 0">
                      <td colspan="4" style="text-align: center">Nenhum financiamento encontrado</td>
                  </tr>

              </tbody>
          </table>



      </div>
  </div>
</div>
