<main class="main">
  <div class="content">
        <!-- Page Wrapper -->
        <div id="wrapper">

          <!-- Sidebar -->
          <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
              <!-- Sidebar - Brand -->
              <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                  <div class="sidebar-brand-icon rotate-n-15">
                      <i class="fa-solid fa-house-chimney-user"></i>
                  </div>
                  <div class="sidebar-brand-text mx-3 left">SF Loteamentos</div>
              </a>
              <br />
  
              <!-- Divider -->
              <hr class="sidebar-divider my-0">
  
              <!-- Nav Item - Dashboard -->
              <li class="nav-item">
                  <a class="nav-link" href="index.html">
                      <i class="fa-solid fa-house"></i>
                      <span>    Tela Inicial</span></a>

                  <a class="nav-link" href="clientes">
                      <i class="fa-solid fa-user"></i>
                      <span>    Clientes</span></a>

                  <!-- <a class="nav-link" href="lotes">
                    <i class="fa-solid fa-map-location"></i>
                      <span>    Lotes</span></a>   -->     
                      
                  <a class="nav-link" href="loteamentos">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>    Loteamentos</span></a>   
                    
              </li>
  
              <!-- Divider -->
              <hr class="sidebar-divider">
  
              <!-- Divider -->
              <hr class="sidebar-divider">
  
          </ul>
          <!-- End of Sidebar -->
  
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">
  
              <!-- Main Content -->
              <div id="content">
  
                  <!-- Topbar -->
                  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
                      <br />
                      
                      <h4 class="m-0 font-weight-bold text-primary">Sistema de Gerenciamento de Lotes</h4 >
                      
  
                  </nav>
                  <!-- End of Topbar -->
  
                  <!-- <app-dashboard></app-dashboard>/ -->

                  <div class="container-fluid">
                      <router-outlet></router-outlet>
                  </div>

  
              </div>
              <!-- End of Main Content -->
  
              <!-- Footer -->
              <footer class="sticky-footer bg-white">
                  <div class="container my-auto">
                      <div class="copyright text-center my-auto">
                          <span>Copyright &copy; WG Sistemas 2025</span>
                      </div>
                  </div>
              </footer>
              <!-- End of Footer -->
  
          </div>
          <!-- End of Content Wrapper -->
  
      </div>
      <!-- End of Page Wrapper -->
  
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
      </a>
  
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                  <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <a class="btn btn-primary" href="login.html">Logout</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
